{
    "logs": [
        {
            "outputFile": "C:\\Users\\Lorilla Family\\AndroidStudioProjects\\calljava_app\\flutterrss_app\\build\\app\\intermediates\\incremental\\mergeDebugResources\\merged.dir\\va